<!-- templates/plotting/my_custom_analysis.html -->
{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>🎯 Meine spezielle Analyse: {{ text_file.name }}</h2>
        
        <div class="plot-container">
            <div class="plot-header">
                <h5>Meine Custom-Visualisierung</h5>
            </div>
            <img src="data:image/png;base64,{{ my_plot }}" alt="Custom Plot" class="plot-image">
        </div>
        
        <!-- Ihre zusätzlichen Informationen -->
        <div class="card mt-4">
            <div class="card-body">
                <h5>Analyse-Ergebnisse:</h5>
                <ul>
                    <li>Erkannte Muster: {{ pattern_count }}</li>
                    <li>Anomalien: {{ anomaly_count }}</li>
                    <li>Durchschnittswert: {{ average_value }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}